<main class="page__main" data-barba="barba tag goes here">
  <section class="reader">
    <article class="reader__news-section">
      <section class="reader__news-container">
        <section class=" reader__news-row">
          <article id="cnn" class="reader__news-column newspaper">
            <header class="newspaper__header">
              <h1 class="newspaper__header-title">CNN</h1>
            </header>
            <a href="#" class="newspaper__hero">
              <img class="newspaper__hero-image" src="https://cdn.cnn.com/cnnnext/dam/assets/200316155446-07-nyse-0316-medium-tease.jpg" alt="Biden grabs Virginia, NC; Bernie wins home state as early Super Tuesday results pour in">
            </a>
            <section class="newspaper__headline">
              <a href="#" clas="newspaper__headline-link">
                <h2 class="newspaper__headline-link-header">Biden grabs Virginia, NC; Bernie wins home state as early Super Tuesday results pour in</h2>
              </a>
            </section>
            <ul class="newspaper__stories">
              {{#each CNN}}
              <li class="newspaper__story">
                <a class="newspaper__story-link" href="{{this.href}}">
                  <h3 class="newspaper__story-link-text">
                    {{this.headline}}
                  </h3>
                </a>
              </li>
              {{/each}}
            </ul>
          </article>
          <article id="fox" class="reader__news-column newspaper">
            <header class="newspaper__header">
              <h1 class="newspaper__header-title">FOX</h1>
            </header>
            <a href="#" class="newspaper__hero">
              <img class="newspaper__hero-image" src="https://cdn.cnn.com/cnnnext/dam/assets/200316155446-07-nyse-0316-medium-tease.jpg" alt="Biden grabs Virginia, NC; Bernie wins home state as early Super Tuesday results pour in">
            </a>
            <section class="newspaper__headline">
              <a href="#" clas="newspaper__headline-link">
                <h2 class="newspaper__headline-link-header">Biden grabs Virginia, NC; Bernie wins home state as early Super Tuesday results pour in</h2>
              </a>
            </section>
            <ul class="newspaper__stories">
              {{#each FOX}}
              <li class="newspaper__story">
                <a class="newspaper__story-link" href="{{this.href}}">
                  <h3 class="newspaper__story-link-text">
                    {{this.headline}}
                  </h3>
                </a>
              </li>
              {{/each}}
            </ul>
          </article>
          <article id="rt" class="reader__news-column newspaper">
            <header class="newspaper__header">
              <h1 class="newspaper__header-title">CNN</h1>
            </header>
            <a href="#" class="newspaper__hero">
              <img class="newspaper__hero-image" src="https://cdn.cnn.com/cnnnext/dam/assets/200316155446-07-nyse-0316-medium-tease.jpg" alt="Biden grabs Virginia, NC; Bernie wins home state as early Super Tuesday results pour in">
            </a>
            <section class="newspaper__headline">
              <a href="#" clas="newspaper__headline-link">
                <h2 class="newspaper__headline-link-header">Biden grabs Virginia, NC; Bernie wins home state as early Super Tuesday results pour in</h2>
              </a>
            </section>
            <ul class="newspaper__stories">
              {{#each RT}}
              <li class="newspaper__story">
                <a class="newspaper__story-link" href="{{this.href}}">
                  <h3 class="newspaper__story-link-text">
                    {{this.headline}}
                  </h3>
                </a>
              </li>
              {{/each}}
            </ul>
          </article>
        </section>
        <section class="news-page__news-video reader__tv-row tv">
          <section class="news-page__news-video-wrapper tv__wrapper">
            <iframe class="news-page__news-video-iframe tv__iframe" src="https://www.youtube-nocookie.com/embed/Gm3bQVANtVo?controls=0&rel=0&autoplay=1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" frameborder="0"
              allowfullscreen></iframe>
          </section>
        </section>
      </section>
    </article>
    <article class="reader__news-section">
      <section class="reader__news-container">
        <section class=" reader__news-row">
          <article id="cnn" class="reader__news-column newspaper">
            <header class="newspaper__header">
              <h1 class="newspaper__header-title">CNN</h1>
            </header>
            <a href="#" class="newspaper__hero">
              <img class="newspaper__hero-image" src="https://cdn.cnn.com/cnnnext/dam/assets/200316155446-07-nyse-0316-medium-tease.jpg" alt="Biden grabs Virginia, NC; Bernie wins home state as early Super Tuesday results pour in">
            </a>
            <section class="newspaper__headline">
              <a href="#" clas="newspaper__headline-link">
                <h2 class="newspaper__headline-link-header">Biden grabs Virginia, NC; Bernie wins home state as early Super Tuesday results pour in</h2>
              </a>
            </section>
            <ul class="newspaper__stories">
              <li class="newspaper__story">
                <a class="newspaper__story-link" href="https://www.breitbart.com/politics/2020/02/26/appeals-court-trump-can-withhold-funding-from-sanctuary-cities/">
                  <h3 class="newspaper__story-link-text">
                    Appeals Court: Trump Can Withhold Funding from Sanctuary Cities
                  </h3>
                </a>
              </li>
              <li class="newspaper__story">
                <a class="newspaper__story-link" href="https://www.breitbart.com/politics/2020/02/26/appeals-court-trump-can-withhold-funding-from-sanctuary-cities/">
                  <h3 class="newspaper__story-link-text">
                    Appeals Court: Trump Can Withhold Funding from Sanctuary Cities
                  </h3>
                </a>
              </li>
              <li class="newspaper__story">
                <a class="newspaper__story-link" href="https://www.breitbart.com/politics/2020/02/26/appeals-court-trump-can-withhold-funding-from-sanctuary-cities/">
                  <h3 class="newspaper__story-link-text">
                    Appeals Court: Trump Can Withhold Funding from Sanctuary Cities
                  </h3>
                </a>
              </li>
              <li class="newspaper__story">
                <a class="newspaper__story-link" href="https://www.breitbart.com/politics/2020/02/26/appeals-court-trump-can-withhold-funding-from-sanctuary-cities/">
                  <h3 class="newspaper__story-link-text">
                    Appeals Court: Trump Can Withhold Funding from Sanctuary Cities
                  </h3>
                </a>
              </li>
              <li class="newspaper__story">
                <a class="newspaper__story-link" href="https://www.breitbart.com/politics/2020/02/26/appeals-court-trump-can-withhold-funding-from-sanctuary-cities/">
                  <h3 class="newspaper__story-link-text">
                    Appeals Court: Trump Can Withhold Funding from Sanctuary Cities
                  </h3>
                </a>
              </li>
              <li class="newspaper__story">
                <a class="newspaper__story-link" href="https://www.breitbart.com/politics/2020/02/26/appeals-court-trump-can-withhold-funding-from-sanctuary-cities/">
                  <h3 class="newspaper__story-link-text">
                    Appeals Court: Trump Can Withhold Funding from Sanctuary Cities
                  </h3>
                </a>
              </li>
              <li class="newspaper__story">
                <a class="newspaper__story-link" href="https://www.breitbart.com/politics/2020/02/26/appeals-court-trump-can-withhold-funding-from-sanctuary-cities/">
                  <h3 class="newspaper__story-link-text">
                    Appeals Court: Trump Can Withhold Funding from Sanctuary Cities
                  </h3>
                </a>
              </li>
            </ul>
          </article>
          <article id="fox" class="reader__news-column newspaper">
            <header class="newspaper__header">
              <h1 class="newspaper__header-title">CNN</h1>
            </header>
            <a href="#" class="newspaper__hero">
              <img class="newspaper__hero-image" src="https://cdn.cnn.com/cnnnext/dam/assets/200316155446-07-nyse-0316-medium-tease.jpg" alt="Biden grabs Virginia, NC; Bernie wins home state as early Super Tuesday results pour in">
            </a>
            <section class="newspaper__headline">
              <a href="#" clas="newspaper__headline-link">
                <h2 class="newspaper__headline-link-header">Biden grabs Virginia, NC; Bernie wins home state as early Super Tuesday results pour in</h2>
              </a>
            </section>
            <ul class="newspaper__stories">
              <li class="newspaper__story">
                <a class="newspaper__story-link" href="https://www.breitbart.com/politics/2020/02/26/appeals-court-trump-can-withhold-funding-from-sanctuary-cities/">
                  <h3 class="newspaper__story-link-text">
                    Appeals Court: Trump Can Withhold Funding from Sanctuary Cities
                  </h3>
                </a>
              </li>
              <li class="newspaper__story">
                <a class="newspaper__story-link" href="https://www.breitbart.com/politics/2020/02/26/appeals-court-trump-can-withhold-funding-from-sanctuary-cities/">
                  <h3 class="newspaper__story-link-text">
                    Appeals Court: Trump Can Withhold Funding from Sanctuary Cities
                  </h3>
                </a>
              </li>
              <li class="newspaper__story">
                <a class="newspaper__story-link" href="https://www.breitbart.com/politics/2020/02/26/appeals-court-trump-can-withhold-funding-from-sanctuary-cities/">
                  <h3 class="newspaper__story-link-text">
                    Appeals Court: Trump Can Withhold Funding from Sanctuary Cities
                  </h3>
                </a>
              </li>
              <li class="newspaper__story">
                <a class="newspaper__story-link" href="https://www.breitbart.com/politics/2020/02/26/appeals-court-trump-can-withhold-funding-from-sanctuary-cities/">
                  <h3 class="newspaper__story-link-text">
                    Appeals Court: Trump Can Withhold Funding from Sanctuary Cities
                  </h3>
                </a>
              </li>
              <li class="newspaper__story">
                <a class="newspaper__story-link" href="https://www.breitbart.com/politics/2020/02/26/appeals-court-trump-can-withhold-funding-from-sanctuary-cities/">
                  <h3 class="newspaper__story-link-text">
                    Appeals Court: Trump Can Withhold Funding from Sanctuary Cities
                  </h3>
                </a>
              </li>
              <li class="newspaper__story">
                <a class="newspaper__story-link" href="https://www.breitbart.com/politics/2020/02/26/appeals-court-trump-can-withhold-funding-from-sanctuary-cities/">
                  <h3 class="newspaper__story-link-text">
                    Appeals Court: Trump Can Withhold Funding from Sanctuary Cities
                  </h3>
                </a>
              </li>
              <li class="newspaper__story">
                <a class="newspaper__story-link" href="https://www.breitbart.com/politics/2020/02/26/appeals-court-trump-can-withhold-funding-from-sanctuary-cities/">
                  <h3 class="newspaper__story-link-text">
                    Appeals Court: Trump Can Withhold Funding from Sanctuary Cities
                  </h3>
                </a>
              </li>
            </ul>
          </article>
          <article id="rt" class="reader__news-column newspaper">
            <header class="newspaper__header">
              <h1 class="newspaper__header-title">CNN</h1>
            </header>
            <a href="#" class="newspaper__hero">
              <img class="newspaper__hero-image" src="https://cdn.cnn.com/cnnnext/dam/assets/200316155446-07-nyse-0316-medium-tease.jpg" alt="Biden grabs Virginia, NC; Bernie wins home state as early Super Tuesday results pour in">
            </a>
            <section class="newspaper__headline">
              <a href="#" clas="newspaper__headline-link">
                <h2 class="newspaper__headline-link-header">Biden grabs Virginia, NC; Bernie wins home state as early Super Tuesday results pour in</h2>
              </a>
            </section>
            <ul class="newspaper__stories">
              <li class="newspaper__story">
                <a class="newspaper__story-link" href="https://www.breitbart.com/politics/2020/02/26/appeals-court-trump-can-withhold-funding-from-sanctuary-cities/">
                  <h3 class="newspaper__story-link-text">
                    Appeals Court: Trump Can Withhold Funding from Sanctuary Cities
                  </h3>
                </a>
              </li>
              <li class="newspaper__story">
                <a class="newspaper__story-link" href="https://www.breitbart.com/politics/2020/02/26/appeals-court-trump-can-withhold-funding-from-sanctuary-cities/">
                  <h3 class="newspaper__story-link-text">
                    Appeals Court: Trump Can Withhold Funding from Sanctuary Cities
                  </h3>
                </a>
              </li>
              <li class="newspaper__story">
                <a class="newspaper__story-link" href="https://www.breitbart.com/politics/2020/02/26/appeals-court-trump-can-withhold-funding-from-sanctuary-cities/">
                  <h3 class="newspaper__story-link-text">
                    Appeals Court: Trump Can Withhold Funding from Sanctuary Cities
                  </h3>
                </a>
              </li>
              <li class="newspaper__story">
                <a class="newspaper__story-link" href="https://www.breitbart.com/politics/2020/02/26/appeals-court-trump-can-withhold-funding-from-sanctuary-cities/">
                  <h3 class="newspaper__story-link-text">
                    Appeals Court: Trump Can Withhold Funding from Sanctuary Cities
                  </h3>
                </a>
              </li>
              <li class="newspaper__story">
                <a class="newspaper__story-link" href="https://www.breitbart.com/politics/2020/02/26/appeals-court-trump-can-withhold-funding-from-sanctuary-cities/">
                  <h3 class="newspaper__story-link-text">
                    Appeals Court: Trump Can Withhold Funding from Sanctuary Cities
                  </h3>
                </a>
              </li>
              <li class="newspaper__story">
                <a class="newspaper__story-link" href="https://www.breitbart.com/politics/2020/02/26/appeals-court-trump-can-withhold-funding-from-sanctuary-cities/">
                  <h3 class="newspaper__story-link-text">
                    Appeals Court: Trump Can Withhold Funding from Sanctuary Cities
                  </h3>
                </a>
              </li>
              <li class="newspaper__story">
                <a class="newspaper__story-link" href="https://www.breitbart.com/politics/2020/02/26/appeals-court-trump-can-withhold-funding-from-sanctuary-cities/">
                  <h3 class="newspaper__story-link-text">
                    Appeals Court: Trump Can Withhold Funding from Sanctuary Cities
                  </h3>
                </a>
              </li>
            </ul>
          </article>
        </section>
        <section class="news-page__news-video reader__tv-row tv">
          <section class="news-page__news-video-wrapper tv__wrapper">
            <iframe class="news-page__news-video-iframe tv__iframe" src="https://www.youtube-nocookie.com/embed/Gm3bQVANtVo?controls=0&rel=0&autoplay=1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" frameborder="0"
              allowfullscreen></iframe>
          </section>
        </section>
      </section>
    </article>
  </section>
</main>
